# Auto detect text files and perform LF normalization
* text=auto

# Ruby Web files
*.erb    text
*.rb     text
*.html   text diff=html
*.css    text
*.js     text
*.sql    text
Gemfile.lock -merge
.sass-cache

#Vim Files
*.s[a-w][a-z]
.swo
*.un~
Session.vim
.netrwhist
*~

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
