<section>
    <header>
        <ul class="tabs">
            <li>Pendientes</li>
            <li>Procesando</li>
            <li>Entregados</li>
        </ul>
    </header>

    <div class="pedido">
        <header>
            <h3>Pancho Lopez</h3>
        </header>
        <div class="row">
            <div class="elementoPedido">= 0/2</div>
            <div class="elementoPedido">Nov 6</div>
        </div>
    </div>
    <div class="atrasado">
        <header>
            <h3>Pancho Lopez</h3>
        </header>
        <div class="row">
            <div class="elementoPedido">= 0/2</div>
            <div class="elementoPedido">Oct 25</div>
        </div>
    </div>
    <div class="pedido">
        <header>
            <h3>Pancho Lopez</h3>
        </header>
        <div class="row">
            <div class="elementoPedido">= 0/2</div>
            <div class="elementoPedido">Nov 5</div>
        </div>
    </div>
</section>
<section>
    <header class="header">
        <h2>Detalles</h2>
    </header>
</section>
