<form action="/colors" method="post">
  <input id="nombre" type="text" name="nombre" />
    <input type="submit" value="Guardar">
</form>

<ul>
<% if @colors.any? %>
  <% @colors.each do |color| %>
    <li><%= color.nombre %>
  <a href="/colors/<%= color.id %>">editar</a>
</li>
  <% end %>
<% end %>
</ul>

