<% if @color %>
  <p>Quieres eliminar el color <strong><%= @color.nombre %></strong>?</p>
  <form action="/colors/<%= @color.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Si, a la verga">
    <a href="/<%= @color.id %>">Mejor no</a>
  </form>
<% else %>
  <p>No existe el color</p>
<% end %>

