<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="stylesheet" href="/css/style.css">
<title>Hola, Zapatron!</title>
</head>
<body>

<div class="container">
    <div class="sidebar">
        <nav>
            <ul>
                <li>Clientes</li>
                <li>Pedidos</li>
                <li>Modelos</li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <header>
            <h1>Zapatron</h1>
        </header>
        <div class="row">
            <%= yield %>
        </div>

        <footer></footer>
    </div>
</div>

</body>
</html>
