/* TODO 
 * Refactorizar este archivo */


.sidebar {
    background-color: $bgColor2;
    overflow: hidden;
    @include transition(left 0.3s linear);
    width: 400px;
    left: -250px;
    &:hover {
        left: 0px;
    }
    &:hover + div {
        margin-left: 300px;
    }
}

.content {
    @include column(12);
    @include transition(all 0.3s linear);
    margin-left: 30px;
    width: 95%;
    background-color: $flat-turquoise;

}

.sidebar,
.content {
    position: absolute;
    height: 100%;
}

.container {
    height: 100%;
    @extend %row;
}


.test {
    @extend %row;
    height: 100%;
}

.row {
    @extend %row;
}

/* Tabs */


.tabs {
     
    li {
        display: inline-block;
        padding: 0 10px;
        border: 1px solid white;
    }
}

section {
    color: black;
    @include column(4);
    background-color: $flat-clouds;
    @include border-radius(5px);
    height: 80%;
    overflow: auto;
}

%pedido {
    padding: 20px;
    background-color: white;
    color: black;
    margin: 10px 0px;
    @extend %row;

}

.pedido {
    @extend %pedido;
    border-right: 10px solid $flat-green-3;
}

.atrasado {
    @extend %pedido;
    border-right: 10px solid $flat-red-1;
}

.elementoPedido {
    text-align: center;
    font-size: 0.9em;
    @include column(1.5);
    padding: 5px;
    background-color: $flat-clouds;
    @include border-radius(3px);
    color: #AAA;
    line-height: 1.5em;
}

