@mixin column( $n ) {
    width: 90% / $columns * $n;
    float: left;
    position: relative;
    min-height: 1px;
}

%row {
    @extend %clearfix;
}

%clearfix {

    &:after {
        content:"";
        display:table;
        clear:both;
    }
}

%noOverflow {
    overflow: hidden;
}

